/* CSS Reset: Start */
body {
  font-family: 'Roboto';
  margin: 0;
}

a {
  text-decoration: none;
}

/* * {
  border: 0.5px solid darkgrey;
  padding: 1px;
} */

/* CSS Reset: End */

/* Header: Start */
header {
  background-color: #1F2937;
  padding: 15px 190px;
}

/* Navigation: Start */
nav {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

nav a.home {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

nav a.highlights,
nav a.testimonials,
nav a.call-to-action {
  font-size: 18px;
  color: #b2b6bd;
}

/* Navigation: End */

/* Hero: Start */
.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 50px;
  margin: 120px 0;
}

.hero .information {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.hero .information .headline {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.hero .information .description {
  font-size: 18px;
  color: #b2b6bd;
}

.hero .information button {
  background-color: #3882F6;
  width: 120px;
  height: 35px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
  border-radius: 7px;
  border: none;
}

.hero img {
  flex: 1;
  align-self: stretch;
}

/* Hero: End */

/* Header: End */

/* Main: Start */

/* Highlights: Start */
main .highlights {
  padding: 0 285px;
}

main .highlights .headline {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

/* Cards: Start */
main .highlights .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .highlights .cards .card img {
  border: 3px solid #3882F6;
  border-radius: 15px;
}

main .highlights .cards .card p {
  width: 160px;
  text-align: center;
  color: #7e868e;
}

/* Cards: End */

/* Highlights: End */

/* Testimonials: Start */
section.testimonials {
  background-color: #E5E7EB;
  padding: 75px 300px;
}

section.testimonials p.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}

section.testimonials p.author {
  color: #1F2937;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

/* Testimonials: End */

/* Call to Action: Start */
section.call-to-action {
  background-color: #3882F6;
  margin: 100px 190px;
  padding: 45px 110px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section.call-to-action .information {
  color: #F9FAF8;
}

section.call-to-action .information h5 {
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
}

section.call-to-action .information p {
  margin: 0px;
}

section.call-to-action button {
  background-color: #3882F6;
  width: 120px;
  height: 35px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #F9FAF8;
  border-radius: 8px;
  border: 2px solid #F9FAF8;
}

/* Call to Action: End */
/* Main: End */

/* Footer: Begin */
footer {
  background-color: #1F2937;
  color: #ccd0d8;
  text-align: center;
  padding: 25px;
}

/* Footer: End */